WCF_SLViewer/Service References/ServiceReference1/ViewerService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ViewerService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:46963/ViewerService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:46963/ViewerService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IViewerService_LoadReport_InputMessage">
    <wsdl:part name="parameters" element="tns:LoadReport" />
  </wsdl:message>
  <wsdl:message name="IViewerService_LoadReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:LoadReportResponse" />
  </wsdl:message>
  <wsdl:message name="IViewerService_RenderingInteractions_InputMessage">
    <wsdl:part name="parameters" element="tns:RenderingInteractions" />
  </wsdl:message>
  <wsdl:message name="IViewerService_RenderingInteractions_OutputMessage">
    <wsdl:part name="parameters" element="tns:RenderingInteractionsResponse" />
  </wsdl:message>
  <wsdl:message name="IViewerService_RequestFromUserRenderReport_InputMessage">
    <wsdl:part name="parameters" element="tns:RequestFromUserRenderReport" />
  </wsdl:message>
  <wsdl:message name="IViewerService_RequestFromUserRenderReport_OutputMessage">
    <wsdl:part name="parameters" element="tns:RequestFromUserRenderReportResponse" />
  </wsdl:message>
  <wsdl:message name="IViewerService_ExportDocument_InputMessage">
    <wsdl:part name="parameters" element="tns:ExportDocument" />
  </wsdl:message>
  <wsdl:message name="IViewerService_ExportDocument_OutputMessage">
    <wsdl:part name="parameters" element="tns:ExportDocumentResponse" />
  </wsdl:message>
  <wsdl:message name="IViewerService_PrepareRequestFromUserVariables_InputMessage">
    <wsdl:part name="parameters" element="tns:PrepareRequestFromUserVariables" />
  </wsdl:message>
  <wsdl:message name="IViewerService_PrepareRequestFromUserVariables_OutputMessage">
    <wsdl:part name="parameters" element="tns:PrepareRequestFromUserVariablesResponse" />
  </wsdl:message>
  <wsdl:message name="IViewerService_InteractiveDataBandSelection_InputMessage">
    <wsdl:part name="parameters" element="tns:InteractiveDataBandSelection" />
  </wsdl:message>
  <wsdl:message name="IViewerService_InteractiveDataBandSelection_OutputMessage">
    <wsdl:part name="parameters" element="tns:InteractiveDataBandSelectionResponse" />
  </wsdl:message>
  <wsdl:portType name="IViewerService">
    <wsdl:operation name="LoadReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IViewerService/LoadReport" message="tns:IViewerService_LoadReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViewerService/LoadReportResponse" message="tns:IViewerService_LoadReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RenderingInteractions">
      <wsdl:input wsaw:Action="http://tempuri.org/IViewerService/RenderingInteractions" message="tns:IViewerService_RenderingInteractions_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViewerService/RenderingInteractionsResponse" message="tns:IViewerService_RenderingInteractions_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RequestFromUserRenderReport">
      <wsdl:input wsaw:Action="http://tempuri.org/IViewerService/RequestFromUserRenderReport" message="tns:IViewerService_RequestFromUserRenderReport_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViewerService/RequestFromUserRenderReportResponse" message="tns:IViewerService_RequestFromUserRenderReport_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ExportDocument">
      <wsdl:input wsaw:Action="http://tempuri.org/IViewerService/ExportDocument" message="tns:IViewerService_ExportDocument_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViewerService/ExportDocumentResponse" message="tns:IViewerService_ExportDocument_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="PrepareRequestFromUserVariables">
      <wsdl:input wsaw:Action="http://tempuri.org/IViewerService/PrepareRequestFromUserVariables" message="tns:IViewerService_PrepareRequestFromUserVariables_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViewerService/PrepareRequestFromUserVariablesResponse" message="tns:IViewerService_PrepareRequestFromUserVariables_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InteractiveDataBandSelection">
      <wsdl:input wsaw:Action="http://tempuri.org/IViewerService/InteractiveDataBandSelection" message="tns:IViewerService_InteractiveDataBandSelection_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IViewerService/InteractiveDataBandSelectionResponse" message="tns:IViewerService_InteractiveDataBandSelection_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IViewerService" type="tns:IViewerService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="LoadReport">
      <soap:operation soapAction="http://tempuri.org/IViewerService/LoadReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RenderingInteractions">
      <soap:operation soapAction="http://tempuri.org/IViewerService/RenderingInteractions" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RequestFromUserRenderReport">
      <soap:operation soapAction="http://tempuri.org/IViewerService/RequestFromUserRenderReport" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ExportDocument">
      <soap:operation soapAction="http://tempuri.org/IViewerService/ExportDocument" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="PrepareRequestFromUserVariables">
      <soap:operation soapAction="http://tempuri.org/IViewerService/PrepareRequestFromUserVariables" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InteractiveDataBandSelection">
      <soap:operation soapAction="http://tempuri.org/IViewerService/InteractiveDataBandSelection" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ViewerService">
    <wsdl:port name="BasicHttpBinding_IViewerService" binding="tns:BasicHttpBinding_IViewerService">
      <soap:address location="http://localhost:46963/ViewerService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>